<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<template id="template">
    <div>
        <h1>This is my component!</h1>
        <slot>
            如果没有分发内容则显示我。
        </slot>
    </div>
</template>
<my-component>
    <p>This is some original content</p>
    <p>This is some more original content</p>
</my-component>
<script src="../../node_modules/vue/dist/vue.js"></script>
<script>
    Vue.component('my-component', {
        template: '#template'
    });
    new Vue({
        el: 'body'
    });
</script>
</body>
</html>