<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<template id="template">
    <div>
        <span>{{index}}</span>
        <span>{{item}}</span>
    </div>
</template>
<my-component
    v-for="item in items"
    :item="item"
    :index="$index">
</my-component>
<script src="../../node_modules/vue/dist/vue.js"></script>
<script>
    Vue.component('my-component', {
        props: ['item', 'index'],
        template: '#template'
    });
    new Vue({
        el: 'body',
        data: {
            items: ['mengxk', 'liuyb', 'chenjj']
        }
    });
</script>
</body>
</html>