<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul id="example-1">
    <li v-for="item in items">
        {{item.message}}
    </li>
</ul>
<ul id="example-2">
    <li v-for="item in items">
        {{parentMessage}} - {{$index}} - {{item.message}}
    </li>
    <li v-for="(index, item) in items">
        {{index}}  {{item.message}}
    </li>
</ul>
<script src="../../node_modules/vue/dist/vue.js"></script>
<script>
    var example1 = new Vue({
        el: '#example-1',
        data: {
            items: [
                {message: 'Foo'},
                {message: 'Bar'}
            ]
        }
    });
    example1.items = example1.items.filter(function(item){
       return item.message.match(/Bar/);
    });
    var example2 = new Vue({
        el: '#example-2',
        data: {
            parentMessage: 'Parent',
            items: [
                {message: 'Foo'},
                {message: 'Bar'}
            ]
        }
    });
</script>
</body>
</html>