<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div v-example a="someValue"></div>
<script src="../../node_modules/vue/dist/vue.js"></script>
<script>
    Vue.directive('example', {
        params: ['a'],
        bind: function(){
            console.info(this.params.a);
        },
        paramWatchers: {
            a: function(val, oldVal){
                console.log('a changed!');
                console.info(val + ": " + oldVal);
            }
        }
    });
    new Vue({
        el: 'body'
    });
</script>
</body>
</html>