<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="modal"></div>
<div v-inject:modal>
    <h1>header</h1>
    <p>body</p>
    <p>footer</p>
</div>
<script src="../../node_modules/vue/dist/vue.js"></script>
<script>
    var FragmentFactory = Vue.FragmentFactory;
    var remove = Vue.util.remove;
    var createAnchor = Vue.util.createAnchor;

    Vue.directive('inject', {
        terminal: true,
        bind: function(){
            debugger;
            var container = document.getElementById(this.arg);
            this.anchor = createAnchor('v-inject');
            container.appendChild(this.anchor);
            remove(this.el);
            var factory = new FragmentFactory(this.vm, this.el);
            this.frag = factory.create(this._host, this._scope, this._frag);
            this.frag.before(this.anchor);
        },
        unbind: function(){
            this.frag.remove();
            remove(this.anchor);
        }
    });
    new Vue({
        el: 'body'
    });
</script>
</body>
</html>